.main_video{
    width: 100%;
    height: 100vh;
    /* background-image: url("https://i.vimeocdn.com/video/1424898755-40ed7b3079d95e8f3b99ded84feb80e8ab074b5a592c222ae6ef66ad4114df52-d?autoplay&muted&loop"); */
    overflow: hidden;
}


/* ------------------ main slide ------------------ */




.swiper {
    width: 100%;
    height: 95vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#swiper1 .swiper-slide:nth-child(1){
    background-image: url(../../public/marshall_slide_01.jpg);
}

#swiper1 .swiper-slide:nth-child(2){
    background-image: url(../../public/marshall_slide_03.jpg);
}

#swiper1 .swiper-slide:nth-child(3){
    background-image: url(../../public/marshall_slide_04.jpeg);
}

#swiper1 .swiper-slide:nth-child(4){
    background-image: url(../../public/marshall_slide_05.jpeg);
}


:root {
    --swiper-theme-color: #b8b29e;
}





/* ------------------ main product ------------------ */



.product_warp{
    width: 100%;
    height: 600px;
    margin: 0;
}

.product_warp a{
    color: #b8b29e;
}

.product_warp a li{
    width: 25%;
    height: 600px;
    float: left;
    position: relative;
    overflow: hidden;
}

.product_warp a li:hover{
    /* transform: scale(1.1); */
    transition: all 0.5s;
    background-color: #303030;
}

.home_product_img{
    width: 100%;
    height: 600px;
}

.home_product_img img{
    width: 450px;
    position: absolute;
    bottom: 0;
    right: -80px;
}

.home_accessory img{
    bottom: -50px;
}

.home_product_title{
    rotate: 90deg;
    text-align: left;
    position: absolute;
    top: 70px;
    left: -88px;
    font-size: 50px;
    opacity: 0.3;
}

.product_warp a:nth-child(2) .home_product_title{
    top: 80px;
    left: -132px;
    /* background-color: aqua; */
}

.product_warp a:nth-child(3) .home_product_title{
    top: 95px;
    left: -112px;
    /* background-color: aqua; */
}

.product_warp a:nth-child(4) .home_product_title{
    top: 110px;
    left: -127px;
    /* background-color: aqua; */
}



/* -------------------------반응형 / Tab------------------------------- */


/* @media (max-width:1200px) and (min-width:900px) { */
@media (max-width:1200px) {

    /* ------------------ main product ------------------ */

    .home_product_title{
        top: 65px;
        left: -78px;
        font-size: 45px;
    }

    .product_warp a:nth-child(2) .home_product_title{
        top: 72px;
        left: -118px;
        /* background-color: aqua; */
    }
    
    .product_warp a:nth-child(3) .home_product_title{
        top: 85px;
        left: -100px;
        /* background-color: aqua; */
    }
    
    .product_warp a:nth-child(4) .home_product_title{
        top: 100px;
        left: -115px;
        /* background-color: aqua; */
    }

    .home_product_img img{
        width: 380px;
        position: absolute;
        bottom: 0;
        right: -110px;
    }

    .home_accessory img{
        right: -140px;
        bottom: -30px;
    }

}