@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #181818;
  color: #E2DDC9;
  text-align: center;
  font-family: 'Pretendard-Regular';
}

ul, li, a{
  text-decoration: none;
  list-style: none;
}

a{
  color: #E2DDC9;
}


/* ------------------ reverse ------------------ */

.reverse_btn{
  width: 60px;
  height: 60px;
  background-color: #181818;
  /* border: 2px solid #E2DDC9; */
  border: none;
  padding: 2px;
  border-radius: 35px;
  z-index: 99;
  position: fixed;
  bottom: 50px;
  left: 50px;
  cursor: pointer;
}




/* ------------------ header ------------------ */

header{
  width: 100%;
  height: 70px;
  /* height: 7vh; */
  /* border-bottom: 1px solid #E2DDC9; */
}

.header_wrap{
  width: 60%;
  height: 40px;
  /* height: 5vh; */
  /* background-color: #E2DDC9; */
  margin: 0 auto;
  /* margin-top: 20px; */
  /* margin-top: 3vh; */
  margin-top: 20px;
  position: relative;
  /* overflow: hidden; */
}


.main_menu{
  color: #E2DDC9;
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 15px;
  /* background-color: #61dafb; */
}

.main_menu a li{
  width: 80px;
  margin-left: 40px;
  float: left;
  text-align: center;
  /* transition: all 0.5s; */
  /* border: 1px solid wheat; */
}

.main_menu a li:hover{
  font-weight: 600;
  /* transition: all 0.5s; */
}

.sub_menu{
  margin-top: 10px;
  display: none;
}

.sub_menu a li{
  width: 80px;
  height: 30px;
  font-size: 15px;
  /* border: 1px solid wheat; */
  text-align: center;
  position: relative;
  line-height: 30px;
  left: -40px;
  /* margin-left: -100px; */
}


.header_logo{
  width: 160px;
  height: 40px;
  background-color: transparent;
  /* background-image: url("../public/Marshall_logo_w.png"); */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* border: 1px solid wheat; */
}

.header_logo img{
  width: 100%;
}

.header_login{
  float: right;
  height: 40px;
  font-size: 12px;
  margin-right: 5%;
  margin-top: -34px;
  line-height: 38px;
  /* border: 1px solid wheat; */
}

.header_login a{
  margin-left: 25px;
}

.instagram>a>img{
  margin-top: 1px;
}

.pinterest>a>img{
  margin-top: 3px;
}

/* ------------------ footer ------------------ */

footer{
  width: 100%;
  /* height: 200px; */
  height: 20vh;
  border-top: 1px solid #E2DDC9;
  color: #E2DDC9;
  font-size: 13px;
  background-color: #2b2b2b;
  clear: both;
}

.footer_left{
  float: left;
  text-align: left;
  margin-top: 70px;
  margin-left: 10%;
  color: #E2DDC9;
}

.footer_left p{
  margin: 5px 0;
}

.footer_left p span{
  margin-right: 13px;
  padding-right: 10px;
  border-right: 1px solid #E2DDC9;
}

.footer_right{
  height: 200px;
  /* margin-top: 70px; */
  margin-right: 10%;
}

.footer_right div{
  width:  40px;
  height: 40px;
  float: right;
  margin-top: 75px;
  margin-left: 20px;
  /* background-color: #E2DDC9; */
  border: 1px solid #E2DDC9;
  border-radius: 10px;
}